@page "/"
@using NerdClassLibrary
@using NerdClassLibrary.Models
@inject IUsuarioData usuData

<img src="./img/ÑoñoBGV2.png" class="img-fluid" style="padding:0">
<div class="section">
    <div class="container">
        <div class="row">
            <div class="card col-6 col-lg-2">
                <div class="card-overlay text-center">
                    <p class="count" data-count="450">0</p>
                    <p class="card-text"><small class="text-body-secondary">Animes</small></p>
                </div>
            </div>
            <div class="card col-6 col-lg-2">
                <div class="card-overlay text-center">
                    <p class="card-text count" data-count="250">0</p>
                    <p class="card-text"><small class="text-body-secondary">Mangas</small></p>
                </div>
            </div>
            <div class="card col-6 col-lg-2">
                <div class="card-overlay text-center">
                    <p class="count" data-count="150">0</p>
                    <p class="card-text"><small class="text-body-secondary">Juegos</small></p>
                </div>
            </div>
            <div class="card col-6 col-lg-2">
                <div class="card-overlay text-center">
                    <p class="count" data-count="450">0</p>
                    <p class="card-text"><small class="text-body-secondary">Series</small></p>
                </div>
            </div>
            <div class="card col-6 col-lg-2">
                <div class="card-overlay text-center">
                    <p class="card-text count" data-count="250">0</p>
                    <p class="card-text"><small class="text-body-secondary">Peliculas</small></p>
                </div>
            </div>
            <div class="card col-6 col-lg-2">
                <div class="card-overlay text-center">
                    <p class="count" data-count="150">0</p>
                    <p class="card-text"><small class="text-body-secondary">Libros</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./js/PersonalScript.js"></script>


@code {

}