@page "/"
@using NerdClassLibrary
@using NerdClassLibrary.Modelos
@inject IUsuarioData usuData

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@if(usuEnum!=null){
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var user in usuEnum)
            {
                <tr>
                    <td>@user.Id_Usuario</td>
                    <td>@user.Nick</td>
                    <td>@user.Imagen</td>
                    <td>@user.Fondo</td>
                </tr>
            }
        </tbody>
    </table>
}
@code{
    IEnumerable<Usuario> usuEnum;
    protected override async Task OnInitializedAsync()
    {
        usuEnum = await usuData.GetUsuarios();
    }
}