@page "/Animes/edit"
@page "/Animes/edit/{Id_Anime:int}"
@inject IAnimeData aniData

@if (Id_Anime is null)
{
    <PageTitle>Agregar un nuevo anime</PageTitle>
    <h3>Agregar un nuevo anime</h3>
}
else
{
    <PageTitle>Editar "@CurrentAnime.Nombre"</PageTitle>
    <h3>Editar "@CurrentAnime.Nombre"</h3>
}

<EditForm Model="CurrentAnime" OnSubmit="HandleSubmit" FormName="AnimeForm">
    <div>
        <label for="name">Nombre</label>
        <InputText id="name" @bind-Value="CurrentAnime.Nombre" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</EditForm>


@code {
    [Parameter]
    public int? Id_Anime { get; set; } = null;

    [SupplyParameterFromForm]
    public Anime CurrentAnime { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        if(Id_Anime is not null)
        {
            int id = Convert.ToInt32(Id_Anime);
            var anime = await aniData.GetAnime(id);
            if(anime is not null)
            {
                CurrentAnime.Nombre ??= anime.Nombre;
            }
        }
    }

    async Task HandleSubmit(){

    }

}
